p#nr1 {
	text-align: right;
	color: #FF0000;
	font-size: 1cm;
}
p#nr2 {
		color: #0000ff;
		text-align: right;
}
li#nr3 {
		color: #000000;
}
li#nr4 {
		color: #000000;
}
li#nr5 {
		color: #000000;
}
p#nr6 {
		text-align: right;
		color: #FF0000;
		font-size: 1cm;
}
p#nr7 {
		color: #0000ff;
		text-align: right;
}
li#nr8 {
		color: #000000;
}
li#nr9 {
		color: #000000;
}
li#nr10 {
		color: #000000;
}
#zda1{
    font-family: serif;
    color: #32CD32;
    font-style: italic; 
    font-variant: small-caps;
    font-weight: 200;
    font-size:x-small;
    text-indent:2cm;
    word-spacing:12px;
    letter-spacing:18mm;
	text-decoration: overline;
}
#zda2{
     word-spacing:12px;
    letter-spacing:18mm;
	color: #32CD32;
	font-weight: 400;
    font-size: x-large;
    font-family: serif;
    text-indent:2cm;
}
#zda3{
    text-indent:2cm;
    word-spacing:12px;
    letter-spacing:18mm;
	font-weight: 900;
    font-size: xx-large;
    text-transform:lowercase;
    font-family: serif;
    color: #32CD32;
}
#zda4{
    font-family: sans-serif;
    color: #F4A460 ;
    text-transform: capitalize;
    line-height:1cm;
    word-spacing:12px;
    letter-spacing:2ex;
	font-variant: small-caps;
    font-weight:300;
    font-size:10px;
}
#zda5{
    color: #F4A460;
    text-transform: capitalize;
    line-height:1cm;
    word-spacing:12px;
    letter-spacing:2ex;
	font-style: oblique;
    font-weight:600;
    font-size:1in;
    font-family: sans-serif;
}
#zda6{
	text-transform: capitalize;
    line-height:1cm;
    word-spacing:12px;
    letter-spacing:2ex;
	text-decoration: line-through;
    font-weight: 800;
    font-size:2em;
    font-family: sans-serif;
    color: #F4A460;
}